* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: 'monospace';
    font-size: 1em;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.post {
    min-width: 30vw;
}

div.post div.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

}

div.post div.content {
    padding: 1em;
}

a:any-link {
    color: #FFF500;
    font-weight: bold;
    text-decoration: none;
}